.Area {
  display: flex;
  /* border: 1px solid red; */
}
.Area .local {
  /* border: 1px solid red; */
  /* margin: 10px; */
  width: 170px;
}
.Area .container {
  /* border: 1px solid red; */
  /* margin-top: 10px; */
  width: calc(100% - 100px);
}
