.Login {
  margin: auto;
  margin-top: 30px;
  width: 400px;
}

.Login > h4 {
  text-align: center;
}

.Login .login-content {
  width: 420px;
  padding: 40px;
  height: 500px;
  box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
  border-top: 5px solid #1a237e;
}

.Login .login-content h4 {
  color: #1a237e;
}
.Login input {
  margin-top: 20px;
  border: none;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
  border-radius: 0;
  padding-left: 0;
  box-shadow: none;
  outline: none;
}

/* .Login input:focus:invalid {
  border-bottom: 1px solid red;
} */
.Login .form-btn {
  margin-top: 60px;
  text-align: right;
}
/* .Login button {
  background:linear-gradient(to bottom, #47a3ff 5%, #167de3 100%);
	background-color:#47a3ff;
	border-radius:5px;
	border:1px solid #5aa8f5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:10px 25px;
	text-decoration:none;
  margin: 10px;
}
.Login button:hover {
  color: #47a3ff;
  background: #fff;
}
.Login button:active {
  box-shadow: none;
} */
.Login .login-content-signin > div,
.login-content-signup > div {
  overflow: hidden;
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
