.Museum {
}


.Museum .MuseumDeatail {
  border-left: 10px solid #1A237e;
  border-right: 2px solid #1A237e;
  margin: auto;
  margin-top: 30px;
  width: 800px;
  padding: 30px;
  /* border-radius: 10px; */
  box-shadow: 3px 5px 20px 1px #1A237e;
   color: #1A237e;
}

.Museum .MuseumDeatail h3 {
  text-align: center;
  padding-bottom: 20px;
  color: #1A237e;
  font-weight: 800;
  margin-top: 30px;
  text-shadow: 1px 3px 10px #42a5f5 ;
}

.Museum .MuseumDeatail > div {
  /* border: 1px solid red */
}

.Museum .MuseumDeatail .mus_ti_pa {
  display: flex;
  margin-top: 30px;
}
.Museum .MuseumDeatail .mus_ti_pa > div {
  /* border: 1px solid red; */
  width: 45%
}

.Museum .MuseumDeatail > div .p_title {
  font-size: 20px;
  margin-bottom: 10px;
  /* color: red; */
}

.Museum .MuseumDeatail .mus_ti_pa .mus_time_set, .mus_pay_set {
  display: flex;
}
.Museum .MuseumDeatail .mus_ti_pa .mus_time_set .mus_time_title, .mus_pay_title {
  width: 30%;
}
.Museum .MuseumDeatail .mus_ti_pa .mus_time_set .mus_time_data, .mus_pay_data {
  
}
.Museum .MuseumDeatail .mus_book {
  text-align: right;
}

/* mus_time_title */