.Review {
  margin: auto;
  margin-top: 30px;
  width: 800px;
}

.Review > h4 {
  text-align: center;
  padding-bottom: 20px;
  color: #1A237e;
  font-weight: 500;
  /* border: 1px solid red; */
}

.Review .review_btn_new {
  text-align: right;
  margin-bottom: 20px;
  /* border: 1px solid red; */
}

/* .Review .review_btn_new button {
  background:linear-gradient(to bottom, #47a3ff 5%, #167de3 100%);
	background-color:#47a3ff;
	border-radius:5px;
	border:1px solid #5aa8f5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:10px 25px;
	text-decoration:none;
  width: auto;
}

.Review .review_btn_new button:hover {
  color: #47a3ff;
  background: #fff;
}
.Review .review_btn_new button:active {
	box-shadow: none;
} */


.Review .reviewList {
  width: 100%;
  /* border: 1px solid red; */
}

.Review .reviewList .review_table {
  /* background: rgba(106, 170, 243, 0.466); */
  /* height: 200px; */
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border-collapse: collapse;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

.Review .reviewList .review_table th {
  color: #fff;
  background: #428bca;
  border-top: none;
  /* border-bottom: 4px solid #9ea7af; */
  /* border-right: 1px solid #343a45; */
  font-size: 20px;
  font-weight: 300;
  padding: 10px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}
.Review .reviewList .review_table tr {
  border-top: 1px solid #c1c3d1;
  border-bottom: 1px solid #c1c3d1;
  color: #666b85;
  font-size: 18px;
  font-weight: normal;
  /* text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1); */
}

.Review .reviewList .review_table tr:hover td {
  background: #94c4da2f;
}

.Review .reviewList .review_table td {
  background: #ffffff;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  /* border-right: 1px solid #c1c3d1; */
}
.Review .reviewList .review_table .btn_del {
  text-align: center;
  vertical-align: middle;
}

.Review .reviewList .review_table td:last-child {
  border-right: 0px;
}

/* ReviewDetail */
.ReviewDetail {
  margin: auto;
  margin-top: 30px;
  width: 800px;
}

.ReviewDetail > h4 {
  text-align: center;
  padding-bottom: 20px;
  color: #1A237e;
  font-weight: 500;
  margin-bottom: 30px;
  /* border: 1px solid blue */
}
.ReviewDetail .rd-container {
  margin: auto;
  border: 1px dashed #283593;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 3px 5px 20px 3px #283593;
}
.ReviewDetail .rd-container form > div > div {
  /* border: 1px solid blue */
  margin-bottom: 30px;
}
.ReviewDetail .rd-container {
  width: 600px;
  /* border: 1px solid red; */
}
.ReviewDetail .rd-container .rd-write > div > p {
  font-size: 18px;
  color: blue;
}
.ReviewDetail .rd-container .rd-write textarea {
  width: 100%;
  min-height: 200px;
  resize: vertical;
  resize: none;
  outline: none;
  font-family: 'Gamja Flower', cursive;
}
.ReviewDetail .rd-container .rd-btn {
  text-align: center;
}
.ReviewDetail .rd-container .rd-btn button {
  /* background:linear-gradient(to bottom, #47a3ff 5%, #167de3 100%);
	background-color:#47a3ff;
	border-radius:5px;
	border:1px solid #5aa8f5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:10px 25px;
	text-decoration:none; */
  margin: 10px;
}

/* .ReviewDetail .rd-container .rd-btn button:hover {
  color: #47a3ff;
  background: #fff;
}
.ReviewDetail .rd-container .rd-btn button:active {
  box-shadow: none;
} */