.Join {
  margin: auto;
  width: 600px;
}
.Join .join-container {
  background: #fff;
  border-radius: 5px;
  margin: 1rem;
  position: relative;
  padding: 40px;
  width: 100%;
  border-top: 5px solid #5942c1;
  box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
}
.Join .join-container h4 {
  color: #5942c1;
}
.Join .join-container textarea {
  width: 100%;
  min-height: 200px;
  resize: vertical;
  resize: none;
}
.Join .join-container form {
  margin-top: 40px;
}

.Join .join-container .agree-check {
  /* border: 1px solid red; */
  text-align: right;
}

.Join .input-area {
  /* border: 1px solid blue; */
  margin: auto;
  width: 300px;
  text-align: center;
}

.Join .input-btn {
  margin: 10px;
}
.Join .input-area input {
  width: 80%;
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
  padding-left: 0;
  box-shadow: none;
  outline: none;
}
.Join .input-area input:hover {
  border-bottom: 1px solid blue;
}

.Join .input-area input:focus {
  /* border: none; */
  border-bottom: 1px solid blue;
}

.Join .input-area span {
  color: red;
}

.Join .input-btn .btn_join {
  display: inline-block;
  width: 100px;
  height: 50px;
  margin-top: 30px;
  border: 2px solid #5942c1;
  background: #5942c1;
  border-radius: 25px;
  padding: 3px 12px 5px 12px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0px;
}
